<?xml version="1.0" encoding="ISO-8859-1"?>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- put 50x.js in webapps/ROOT -->
    <error-page>
        <error-code>404</error-code>
        <location>/50x.js</location>
    </error-page>
</web-app>
